import time
import threading
from pynput.keyboard import Listener, Key, Controller
import random
def typing_speed():
    while True:
        try:
            speed = int(input("Enter typing speed (words per minute): "))
            return speed
        except ValueError:
            print("Please enter a valid number.")

def type_sentence(sentence, speed, keyboard):
    while True:
        for char in sentence:
            keyboard.press(char)
            keyboard.release(char)
            time.sleep(((random.randint(155,160))/10) / speed)  # Calculate delay based on words per minute
        keyboard.press(Key.enter)
        keyboard.release(Key.enter)

def on_press(key):
    if key == Key.esc:  # Stop typing when 'esc' key is pressed
        return False

def main():
    speed = typing_speed()
    sentence = input("Enter the sentence to be typed: ")
    time.sleep(3)
    sentence_list = list(sentence)

    print("Typing will start immediately after entering the sentence.")
    keyboard = Controller()

    print("Press 'ESC' to stop typing.")
    type_thread = threading.Thread(target=type_sentence, args=(sentence_list, speed, keyboard))
    type_thread.start()

    with Listener(on_press=on_press) as listener:
        listener.join()

    type_thread.join()

if __name__ == "__main__":
    main()
